<!-- prvi red -->
<div ng-init="loadData()">
  <div>
    <div class="row">

      <div class="col s6 m6">
        <select
          class="browser-default"
          ng-model="years.model"
          ng-options="option.naziv for option in years.values"
          value="{{option.naziv}}"
        >
          <option value="" disabled selected>Odaberite akademsku godinu</option>
        </select>
      </div>
      <div class="col s6 m6">

<select class="browser-default" ng-model="subjects.model" ng-options="option.naziv for option in subjects.values" value="{{option.naziv}}">
          <option value="" disabled selected>Odaberite predmet</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row grid">
    <div ng-repeat="graph in graphs track by $index" class="col s6 m6" id="{{$index}}">
      <div class="card white darken-1">
        <md-button class="md-icon-button" ng-click="removeWidget($index)">
        <md-icon md-svg-src="assets/images/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
    </md-button>
        <div class="card-content black-text topdf">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">{{graph.title}}</div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <a ng-click="promijeniTabelaBar(graph)"> <img src="../../images/charticon.png"></a>
              <a ng-click="promijeniTabelaPie(graph)" style=" margin:0 20px">  <img src="../../images/pieicon.png"></a>

            </li>
          </ul>
          <nvd3 ng-if="graph.type==2" options="graph.options" data="graph.data"></nvd3>

          <nvd3 ng-if="graph.type==1" options="graph.options" data="graph.fullData"></nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m12">
    <div class="card white darken-1">
      <div class="card-content black-text">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Komentari</div>
            <div class="collapsible-body"><p>Pregled anketnih komentara za izabrani predmet i akademsku godinu</p></div>
          </li>

        </ul>
        <label>Akademska godina</label>
        <select
          class="browser-default"
          ng-model="godinaKomentari"
          ng-options="option.naziv for option in years.values"
          value="{{option.naziv}}"
        ></select>
        <label>Predmet</label>
        <select
          class="browser-default"
          ng-model="predmetKomentari"
          ng-options="option.naziv for option in subjects.values"
          value="{{option.naziv}}"
        ></select>


      </div>
      <!--div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div-->
    </div>
  </div>

</div>
