<div class="row " style="padding:0px; margin:0">
  <div class="col s3 " style="padding:0px; ">
    <div class="card" style="height:500px; margin:0px 2px 0px 0px; height:100vh;">
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Studenti</div>
          <div class="collapsible-body">
            <ul>
              <li>1.</li>
              <li>2</li>
              <li>3.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Predmeti</div>
          <div class="collapsible-body">
            <ul>
              <li>1.</li>
              <li>2</li>
              <li>3.</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s9">
    <div class="col s9">
      <div class="col s9 offset-s3">
        <div class="card " style="margin:80px 0;  ">
          <div id="chart">

          </div>
        </div></div>
    </div>
    <div class="col s3">
      <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light " style="float:left; margin:100px 0 0px 0; padding-top:10px; background-color: #D3CEAA"><img src="client/images/tableicon.png" ></a>
      </div>
      <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light" style="float:left; margin:0 0 0px 0; padding-top:10px; background-color: #D3CEAA"><img src="client/images/graphicon.png" ></a>
      </div>
      <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light " style="float:left; margin:0 0 0px 0; padding-top:10px; background-color: #D3CEAA"><img src="client/images/charticon.png" ></a>
      </div>
      <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light " style="float:left; margin:0 0 0px 0; padding-top:10px; background-color: #D3CEAA"><img src="client/images/pieicon.png" ></a>
      </div>
      <div class="row">
        <a class="btn-floating btn-large waves-effect waves-light " style="float:left; margin:0 0 0px 0; padding-top:13px; background-color: #D3CEAA"> <img src="client/images/file-pdf.svg"></a>
      </div>

    </div>
  </div>
</div>




