<div class="row " style="padding:0px; margin:0">
  <div class="col s3 " style="padding:0px; ">
    <div class="card" style="height:500px; margin:0px 2px 0px 0px; height:100vh;">
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Studenti</div>
          <div class="collapsible-body">
            <ul>
              <li>1.</li>
              <li>2</li>
              <li>3.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Predmeti</div>
          <div class="collapsible-body">
            <ul>
              <li>1.</li>
              <li>2</li>
              <li>3.</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>


</div>


